# =========================
# Virtual Environments
# =========================

smarthire_env/
venv/
.env/


# =========================
# Python Cache
# =========================

__pycache__/
*.pyc
*.pyo
*.pyd


# =========================
# Jupyter Notebook
# =========================

.ipynb_checkpoints/


# =========================
# OS / Editor Files
# =========================

.DS_Store
Thumbs.db
.vscode/


# =========================
# Temporary Files
# =========================

*.tmp
*.log


# =========================
# Local Secrets
# =========================

.env
*.env


# =========================
# Raw / Original Datasets
# =========================

data/raw/